* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: rgb(250, 235, 215);
	font-family: "Source Sans 3", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

header {
	font-family: "Bebas Neue", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 6rem;
	text-align: center;
	padding-top: 4rem;
}

.form {
	padding: 3rem;
	display: flex;
	justify-content: center;
}

#search-input {
	height: 2rem;
	border-radius: 6px;
	border: 4px solid rgb(154, 142, 142);
	width: 20%;
	height: 4rem;
	font-size: 1.5rem;
	padding-left: 1rem;
}

.pagination-section {
	font-size: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.button {
	border: 4px solid black;
	cursor: pointer;
	background-color: rgb(225, 122, 66);
	border-radius: 100%;
	height: 4rem;
	width: 4rem;
	font-size: 2rem;
}
.disabled {
	border: 4px solid rgb(68, 67, 67);
	cursor: pointer;
	border-radius: 100%;
	height: 4rem;
	width: 4rem;
	font-size: 2rem;
	background-color: rgb(139, 87, 60);
}

main {
	text-align: center;
	padding: 4rem;
	font-size: 2rem;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 6rem;
}

.image {
	width: 25rem;
	height: 20rem;
	display: flex;
	align-items: center;
}

.card {
	background-color: rgb(233, 156, 114);
	box-shadow: 1px 1px 20px 6px rgba(6, 3, 2, 0.5);
	border-radius: 8px;
}

.city-name {
	font-weight: bold;
}

.city-state {
	padding: 0.5rem;
}
